$white: #fff;
$dark-blue: #417DDD;
$light-blue: #93b5ec;
$bright-green: #47da84;
$blue-green: #69bebe;

$circle-1: #417DDD;
$circle-2: #428CCF;
$circle-3: #4397C4;
$circle-4: #43A2BA;
$circle-5: #44ADAE;
$circle-6: #47da84;
$circle-7: #47da84;
$circle-8: #47da84;
$circle-9: #47da84;

:root {
  font-family: 'Montserrat', sans-serif;
}
/*.landing {
    height: 100vh;
    background-color: rgb(233, 233, 233);
}

.header {
    position: relative;
    top: 30%;

    &-title {
        font-size: 5rem;
        font-weight: 500;
    }
}
*/
