* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  align-self: flex-start;
}
iframe {
  width: 100%;
  height: 50vh;
  border: none;
}

body {
  background-color: white;
  color:var(--grey-text);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  --dark-text:hsl(0,0%,17%);
  --grey-text:hsl(0,0%,40%);
  --light-grey-text:hsl(0,0%,45%);
  --second:white;
  --background:white;
  --card:85%;
  --position:relative;
  --shadow: 0 0 5px rgba(0,0,0,0.30);
}

.card-top {
  background: var(--second);
  box-shadow: var(--shadow);
  border-radius:2px 2px 0 0;
  display: inline-block;
  padding:5vh;
  padding-top:2px;
  margin: 1rem 0 1rem 1rem;
  position: var(--position);
  width: var(--card);
}

.from {
  color:hsl(0,0%,50%);
  font-weight:400;
  font-size:13px;
  margin:0;
}

h2 {
  padding: 0;
  color: hsl(0,0%,17%);
  font-weight: semi-bold;
  font-size: 25px;
}

input {
  outline: none;
  border: 1px solid hsl(0, 0%, 90%);
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
  padding: 0 2.5vh 0 1vh;
  border-radius: 5px;
  height: 5vh;
}

input[type=number] {
  margin:0;
  outline: none;
  border: 1px solid hsl(0, 0%, 90%);
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
  padding: 2vh 5vh 2vh 2vh;
  border-radius: 5px;
  height: 40px;
  width: 100px;
}

input[type=search] {
  outline: none;
  border-radius: 7px;
  background: var(--second);
  padding: 1rem;
  display: inline-block;
  position: var(–position);
  width: 95%;
  box-shadow: var(--shadow);
  border: none;
  margin-bottom:10vh;
}



#answer {
  width: 85px;
  border: none;
  margin-left: 4px;
}

.card {
  background: var(--second);
  border-radius: 5px;
  box-shadow: var(--shadow);
  display: inline-block;
  padding: 0 5% 0 5%;
  display: inline-block;
  margin: 1rem;
  position: var(--position);
  width: var(--card);
}

button[type=send] {
  background: transparent;
  outline: none;
  font-weight: 500;
  border: solid #88F;
  padding: 2vh 5vh 2vh 5vh;
  border-radius: 1vh;
  font-size: 25px;
  color: #88F;
}

#submit {
  background: #88F;
  outline: none;
  font-weight: 600;
  border: 1px solid #88F;
  padding: 5px 11px 6px 11px;
  border-radius: 20px;
  font-size: 30px;
  color: white;
}

.dark-text {
  color: var(--dark-text);
  font-weight: 700;
}

.grey-text {
  color: var(--light-grey-text);
  font-weight: 400;
}

.light-grey-text {
  color:var(--light-grey-text);
  font-weight:400;
}

span {
  border-top: 2px solid skyblue;
  padding-top: 10px;
  text-align: center;
  width: 20%;
}

.toast {
  background-color:hsl(0,0%,20%);
  bottom:10px;
  border-radius: 1vh;
  color:white;
  display: none;
  padding: 2.5vh;
  position:fixed;
  width: 90%;
}

.toast p {
  margin:0;
}

#form {
  align-items: center;
  border-radius: 10px 10px 0 0;
  bottom:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left:0;
  margin:0;
  margin-top: 5vh;
  position: relative;
  padding: -49px 10% 5% 5%;
  right:0;
  width: 90%;
}

#send {
  height: 40px;
  position: relative;
  top: -49px;
}
#login {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

#card {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 10px;
  border-radius: 10px;
  font-size: 10vw;
}

p {
  margin: 0;
  text-align: right;
  font-size: 6vw;
}
